*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border-radius: 0;
	border: 0;
	outline: none;
}

html,
body{
	width: 100%;
	min-height: 100vh;
	float: left;
}

button{
	background-color: transparent;
	cursor: pointer;
}

input[type="radio"],
input[type="checkbox"],
input[type="search"],
select{
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
}


a, 
span{
	display: inline-block;
}

a{
	text-decoration: none;
}

dl, ol, ul{
	list-style-type: none;
}

.center{
	position: relative;
	float: none;
	margin: 0 auto;
}

.full_w{
	position: relative;
	float: left;
	width: 100%;
}

.flex{
	display: flex;
}

.justify_between{
	justify-content: space-between;
}

.align_center{
	align-items: center;
}




















